tr.BlueRow {background-color:#99CCFF;}
tr.GreenRow {background-color:#CCFFCC;}
tr.RedRow {background-color:#FFCCCC;}

#doneOrder, #cancelOrder, #deleteOrder{
	margin-bottom: 5px;
}

.selectedTableRow{
    color: #26a69a;
}

/*.container {
    width: 100%;
    max-width: initial;
}
.container > .row {
    width: 100%;
    max-width: initial;
    margin: 0;
}
.container > .row > .col {
    width: 100%;
    max-width: initial;
    margin: 0;
    padding: 0;
}*/